 /* mobile */

@media only screen and (max-width: 600px) {

	/* --1. default settings --*/

	 body {
        font-family: 'Imbue', serif;
        line-height: 25px;
        font-size: 18px !important;
        font-weight: normal !important;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        width: 100%;
        height: max-content;
    }

	/*--2. Navigation --*/

header {
            box-sizing: border-box;
            background-color: hsl(340, 60%, 65%);
            display: static;
            height: 180px;
            width: 100%; /* changed max-width to 100% */
            top: 0px;
            left: 0px;
            clear: both !important;
            padding: 0px;
            margin: 0px;
            z-index: 1;	
}

 header #logo {
                box-sizing: border-box;
                display: inline-block;
                position: relative;
                top: 30px;
                left: 30px;
            }

	.navBurgerMenu {
                display: inline-flex;
                height: 80px;
                width: 90%;
                clear: both;
                background: url(../images/menuBar.png) no-repeat 100% 0;
                cursor: pointer;
            }

            nav {
                display: none;
                /*nav display*/
                padding: 0px;
                margin: 0px;
                margin: 7px;
                float: right;
                background-color: hsl(340, 60%, 65%);
                max-width: 480px;
            }

            nav ul {
                    height: 0px;
                }


                nav ul .open {
                    height: auto;
                }


                nav li {
                    height: 40px;
                    font-family: 'Amiri', serif;
                    font-size: 24px;
                    width: 120px;
                    padding: 12.5px;
                    margin: 0px;
                    color: $white;
                    display: block;
                    list-style: none;
                    text-transform: uppercase;
                    text-align: center;
                }

            nav li a:link {
                        color: hsl(0, 13%, 92%);
                        text-decoration: none;
                        list-style: none;
                    }
            nav li  a:visited {
                        color: hsl(0, 13%, 92%);
                        text-decoration: none;
                        list-style: none;
                    }
            nav li    a:focus {
                        color: hsl(333, 84%, 58%);
                        background-color: hsl(342, 56%, 81%);
                        text-decoration: none;
                        list-style: none;
                        margin: 9px;
                        padding: 10px;
                    }
             nav li  a:hover {
                        color: hsl(333, 84%, 58%);
                        background-color: hsl(342, 56%, 81%);
                        transition: 0.55s;
                        text-decoration: none;
                        list-style: none;
                        margin: 9px;
                        padding: 10px;
                        border-radius: 20px;
                    }
            nav li  a:active {
                        color: hsl(333, 84%, 58%);
                        background-color: hsl(342, 56%, 81%);
                        text-decoration: none;
                        list-style: none;
                    }


                /*-- 2. Layout --*/

    #wrapper {
        display: inline-block;
        box-sizing: border-box;
        /* left: 0px !important;
        top: 240px; */
        clear: both;
        padding: 25px 0px 0px;
        margin: 0px 0px;
        height: max-height;
        font-size: 18px;
        width: max-width;
        z-index: 3;
    }


    .animationWrapper {
        margin: 0px 15px;
        overflow: hidden;
    }


    .animationWrapper .slideShow .slide img {
        width: 20%;
        float: left;
    }


    @keyframes slidy {
        0% {
            left: 0%;
        }
        20% {
            left: 0%;
        }
        25% {
            left: -100%;
        }
        45% {
            left: -100%;
        }
        50% {
            left: -200%;
        }
        70% {
            left: -200%;
        }
        75% {
            left: -300%;
        }
        95% {
            left: -300%;
        }
        100% {
            left: -400%;
        }
    }


    .animationWrapper .slideShow .slide {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 30s slidy infinite;
    }


    #intro {
        box-sizing: border-box;
        display: inline-block;
        font-family: 'Shadows Into Light Two', cursive;
        color: hsl(0, 0%, 42%);
        min-width: 320px;
        font-size: 18px;
        font-weight: normal;
        margin: 25px auto;
        padding: 5px;
        position: relative;
        left: 10px;
    }

    #links {
        display: flex;
        margin: 20px 100px;
    }

    #links ~ h1 {
        flex: auto 0 none;
    }


    h1 a {
        position: relative;
        left: 100px;
        color: hsl(333, 84%, 58%);
        border-radius: 50px;
        display: inline-block;
        width: 90px;
        height: auto;
        font-size: 18px;
        padding: auto;
        text-decoration: none;
    }
     
      h1  a:link {
            color: hsl(333, 84%, 58%);
            text-decoration: none;
            list-style: none;
            padding: auto;
        }


     h1 a:visited {
            color: hsl(333, 84%, 58%);
            text-decoration: none;
            list-style: none;
            padding: auto;
        }


     h1 a:focus {
            color: hsl(333, 84%, 58%);
            background-color: hsl(340, 60%, 65%);
            text-decoration: none;
            list-style: none;
            padding: auto;
        }

	#bottomPics {
		margin: 15px;
	    margin-bottom: 250px;
	}

	#bottomPics img {
		margin: 0px auto;
		height: auto;
		width: max-width;
		transform: translate(20%, 20%);
	}


    footer {
        display: inline-block;
        position: static;
        bottom: 0px;
        width: 100%;
        font-size: 18px;
        font-weight: 900;
        padding: 24px;
        padding left: 5px;
        padding-bottom: 0;
        background-color: hsl(342, 56%, 81%);
        color: hsl(333, 84%, 58%);
        border-top: 2px solid hsl(0, 0%, 60%);
    }


    #trademark {
	    font-size: 8px;
	}

	#mediaQueries {
        box-sizing: border-box;
	    display: block;
        margin: auto 0px;
        padding-left: 2px;
	    float: left;
        width: auto;
        height: auto;
	}

	#TK_Slogan {
	    display: block;
	    float: right;
	}

}




/* tablet */ 

@media only screen and (min-width: 600px) {

	/* --- 1. Default settings ---*/
    body {
    	font-family: 'Imbue', serif;
        line-height: 25px;
        font-size: 18px !important;
        box-sizing: border-box;
        padding: 10px;
        margin: 0px;
    }


    /* ---2. Navigation ---*/

 header {
            box-sizing: border-box;
            background-color: hsl(340, 60%, 65%);
            display: static;
            height: auto;
            width: max-width;
            top: 0px;
            left: 0px;
            clear: both !important;
            padding: 0px;
            margin: 0px;
            z-index: 1;	
}

 header #logo {
                box-sizing: border-box;
                display: inline-block;
                position: relative;
                top: 30px;
                left: 30px;
            }

	.navBurgerMenu {
                display: inline-flex;
                height: 80px;
                width: 90%;
                clear: both;
                background: url(../images/menuBar.png) no-repeat 100% 0;
                cursor: pointer;
            }

            nav {
                display: none;
                /*nav display*/
                padding: 0px;
                margin: 0px;
                margin: 7px;
                float: right;
                background-color: hsl(340, 60%, 65%);
                max-width: 480px;
            }

            nav ul {
                    height: 0px;
                }


                nav ul .open {
                    height: auto;
                }


                nav li {
                    height: 40px;
                    font-family: 'Amiri', serif;
                    font-size: 24px;
                    width: 120px;
                    padding: 12.5px;
                    margin: 0px;
                    color: $white;
                    display: block;
                    list-style: none;
                    text-transform: uppercase;
                    text-align: center;
                }

            nav li a:link {
                        color: hsl(0, 13%, 92%);
                        text-decoration: none;
                        list-style: none;
                    }
            nav li  a:visited {
                        color: hsl(0, 13%, 92%);
                        text-decoration: none;
                        list-style: none;
                    }
            nav li    a:focus {
                        color: hsl(333, 84%, 58%);
                        background-color: hsl(342, 56%, 81%);
                        text-decoration: none;
                        list-style: none;
                        margin: 9px;
                        padding: 10px;
                    }
             nav li  a:hover {
                        color: hsl(333, 84%, 58%);
                        background-color: hsl(342, 56%, 81%);
                        transition: 0.55s;
                        text-decoration: none;
                        list-style: none;
                        margin: 9px;
                        padding: 10px;
                        border-radius: 20px;
                    }
            nav li  a:active {
                        color: hsl(333, 84%, 58%);
                        background-color: hsl(342, 56%, 81%);
                        text-decoration: none;
                        list-style: none;
                    }
            /*-- 2 layout --*/

#wrapper {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: max-width;
    padding: 0px;
    z-index: 1;
    height: auto;
    transform: translate(2%, 5%);
}
  /*  .animationWrapper {
        margin-left: 65px;
    } */

    .slideShow {
        overflow: hidden;
    }

    .animationWrapper .slideShow .slide img {
        width: 20%;
        float: left;
    }

    @keyframes slidy {
        0% {
            left: 0%;
        }
        20% {
            left: 0%;
        }
        25% {
            left: -100%;
        }
        45% {
            left: -100%;
        }
        50% {
            left: -200%;
        }
        70% {
            left: -200%;
        }
        75% {
            left: -300%;
        }
        95% {
            left: -300%;
        }
        100% {
            left: -400%;
        }
    }

    .animationWrapper .slideShow .slide {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 20s slidy infinite;
    }

    #intro {
        box-sizing: content-box;
        font-family: 'Shadows Into Light Two', cursive;
        color: hsl(0, 0%, 42%);
        margin: 35px 20px;
        font-size: 24px;
        font-weight: bold;
    }
	 	hgroup {
    font-family: 'Amiri', serif;
}

.links {
    margin-left: 80px;
}

.links h1 a {
    position: relative;
    left: 100px;
    color: hsl(333, 84%, 58%);
    border-radius: 50px;
    display: inline-block;
    width: 90px;
    height: 60px;
    padding: 5px;
    margin: 15px 300px;
    text-decoration: none;
}

h1  a:link {
        color: hsl(333, 84%, 58%);
        text-decoration: none;
        list-style: none;
    }

  h1  a:visited {
        color: hsl(333, 84%, 58%);
        text-decoration: none;
        list-style: none;
    }

h1    a:focus {
        color: hsl(333, 84%, 58%);
        background-color: hsl(340, 60%, 65%);
        text-decoration: none;
        list-style: none;
        font-size: 30px;
        height: 30px;
    }

h1   a:hover {
        color: hsl(333, 84%, 58%);
        background-color: hsl(342, 56%, 81%);
        text-decoration: none;
        list-style: none;
        border-radius: 50px;
       /* width: 500px;
        height: 30px;
        padding: 50px; */
    }

    #resetButton {
    	box-sizing: border-box;
    	display: inline-block;
    	width: 75px;
    	height: 75px;
    	position: sticky;
    	bottom: 150px;
    	right: 300px !important;
    	text-align: center;
    	justify-content: center;
    	color: hsl(333, 84%, 58%);
        background-color: hsl(342, 56%, 81%);
        border-radius: 25px;
    }

    #resetButton p {
    	box-sizing: border-box;
    	display: inline;
    	font-size: 85px;
        font-weight: bolder;
    }

    footer {
        display: inline-block;
        width: 100%;
        position: static;
        bottom: 0px;
        top: 0;
        font-size: 24px;
        font-weight: bold;
        padding: 24px;
        padding-bottom: 0;
        padding-left: 2px;
        background-color: hsl(342, 56%, 81%);
        color: hsl(333, 84%, 58%);
        border-top: 2px solid hsl(0, 0%, 60%);
    }

    #bottomPics {
    justify-content: center;
	text-align: center;
    margin-left: 0px;
	}

	#bottomPics img {
	display: inline-block;
    margin: 0px 5px;
    clear: both !important;
	}

    #trademark {
        font-size: 12px;
    }

    #mediaQueries {
        display: block;
        float: left;
    }

    #TK_Slogan {
        display: block;
        float: right;
    }
}


/* tablet landscape */
@media only screen and (min-width: 768px){
	 header {
            box-sizing: border-box;
            background-color: hsl(340, 60%, 65%);
            display: static;
            height: auto;
            width: max-width;
            top: 0px;
            left: 0px;
            clear: both !important;
            padding: 0px;
            margin: 0px;
            z-index: 1;	
}

 header #logo {
                box-sizing: border-box;
                display: inline-block;
                position: relative;
                top: 30px;
                left: 30px;
            }

	.navBurgerMenu {
                display: inline-flex;
                height: 80px;
                width: 90%;
                clear: both;
                background: url(../images/menuBar.png) no-repeat 100% 0;
                cursor: pointer;
            }

            nav {
                display: none;
                /*nav display*/
                padding: 0px;
                margin: 0px;
                margin: 7px;
                float: right;
                background-color: hsl(340, 60%, 65%);
                max-width: 480px;
            }

            nav ul {
                    height: 0px;
                }


                nav ul .open {
                    height: auto;
                }


                nav li {
                    height: 40px;
                    font-family: 'Amiri', serif;
                    font-size: 24px;
                    width: 120px;
                    padding: 12.5px;
                    margin: 0px;
                    color: $white;
                    display: block;
                    list-style: none;
                    text-transform: uppercase;
                    text-align: center;
                }

            nav li a:link {
                        color: hsl(0, 13%, 92%);
                        text-decoration: none;
                        list-style: none;
                    }
            nav li  a:visited {
                        color: hsl(0, 13%, 92%);
                        text-decoration: none;
                        list-style: none;
                    }
            nav li    a:focus {
                        color: hsl(333, 84%, 58%);
                        background-color: hsl(342, 56%, 81%);
                        text-decoration: none;
                        list-style: none;
                        margin: 9px;
                        padding: 10px;
                    }
             nav li  a:hover {
                        color: hsl(333, 84%, 58%);
                        background-color: hsl(342, 56%, 81%);
                        transition: 0.55s;
                        text-decoration: none;
                        list-style: none;
                        margin: 9px;
                        padding: 10px;
                        border-radius: 20px;
                    }
            nav li  a:active {
                        color: hsl(333, 84%, 58%);
                        background-color: hsl(342, 56%, 81%);
                        text-decoration: none;
                        list-style: none;
                    }

                    /* layout */

                    	 	hgroup {
    font-family: 'Amiri', serif;
}

.links {
    margin-left: 80px;
}

.links h1 a {
    position: relative;
    left: 100px;
    color: hsl(333, 84%, 58%);
    border-radius: 50px;
    display: inline-block;
    width: 90px;
    height: 60px;
    padding: 5px;
    margin: 15px 300px;
    text-decoration: none;
}

h1  a:link {
        color: hsl(333, 84%, 58%);
        text-decoration: none;
        list-style: none;
    }

  h1  a:visited {
        color: hsl(333, 84%, 58%);
        text-decoration: none;
        list-style: none;
    }

h1    a:focus {
        color: hsl(333, 84%, 58%);
        background-color: hsl(340, 60%, 65%);
        text-decoration: none;
        list-style: none;
        font-size: 30px;
        height: 30px;
    }

h1   a:hover {
        color: hsl(333, 84%, 58%);
        background-color: hsl(342, 56%, 81%);
        text-decoration: none;
        list-style: none;
        border-radius: 50px;
       /* width: 500px;
        height: 30px;
        padding: 50px; */
    }


/* notebook*/
@media only screen and (min-width: 992px) {
	 header {
            box-sizing: border-box;
            background-color: hsl(340, 60%, 65%);
            display: static;
            height: auto;
            width: max-width;
            top: 0px;
            left: 0px;
            clear: both !important;
            padding: 0px;
            margin: 0px;
            z-index: 1;	
}

 header #logo {
                box-sizing: border-box;
                display: inline-block;
                position: relative;
                top: 30px;
                left: 30px;
            }

	.navBurgerMenu {
                display: inline-flex;
                height: 80px;
                width: 90%;
                clear: both;
                background: url(../images/menuBar.png) no-repeat 100% 0;
                cursor: pointer;
            }

            nav {
                display: none;
                /*nav display*/
                padding: 0px;
                margin: 0px;
                margin: 7px;
                float: right;
                background-color: hsl(340, 60%, 65%);
                max-width: 480px;
            }

            nav ul {
                    height: 0px;
                }


                nav ul .open {
                    height: auto;
                }


                nav li {
                    height: 40px;
                    font-family: 'Amiri', serif;
                    font-size: 24px;
                    width: 120px;
                    padding: 12.5px;
                    margin: 0px;
                    color: $white;
                    display: block;
                    list-style: none;
                    text-transform: uppercase;
                    text-align: center;
                }

            nav li a:link {
                        color: hsl(0, 13%, 92%);
                        text-decoration: none;
                        list-style: none;
                    }
            nav li  a:visited {
                        color: hsl(0, 13%, 92%);
                        text-decoration: none;
                        list-style: none;
                    }
            nav li    a:focus {
                        color: hsl(333, 84%, 58%);
                        background-color: hsl(342, 56%, 81%);
                        text-decoration: none;
                        list-style: none;
                        margin: 9px;
                        padding: 10px;
                    }
             nav li  a:hover {
                        color: hsl(333, 84%, 58%);
                        background-color: hsl(342, 56%, 81%);
                        transition: 0.55s;
                        text-decoration: none;
                        list-style: none;
                        margin: 9px;
                        padding: 10px;
                        border-radius: 20px;
                    }
            nav li  a:active {
                        color: hsl(333, 84%, 58%);
                        background-color: hsl(342, 56%, 81%);
                        text-decoration: none;
                        list-style: none;
                    }	

	   	 #wrapper {
	    box-sizing: border-box;
	    display: inline-block;
	    width: 85%;
	    margin: 0px;
	    padding: 0px;
	    z-index: 1;
	    height: auto;
	    transform: translate(10%, 5%);
	 	}

	 	hgroup {
    font-family: 'Amiri', serif;
}

.links {
    margin-left: 80px;
}

.links h1 a {
    position: relative;
    left: 100px;
    color: hsl(333, 84%, 58%);
    border-radius: 50px;
    display: inline-block;
    width: 90px;
    height: 60px;
    padding: 5px;
    margin: 15px 300px;
    text-decoration: none;
}

h1  a:link {
        color: hsl(333, 84%, 58%);
        text-decoration: none;
        list-style: none;
    }

  h1  a:visited {
        color: hsl(333, 84%, 58%);
        text-decoration: none;
        list-style: none;
    }

h1    a:focus {
        color: hsl(333, 84%, 58%);
        background-color: hsl(340, 60%, 65%);
        text-decoration: none;
        list-style: none;
        font-size: 30px;
        height: 30px;
    }

h1   a:hover {
        color: hsl(333, 84%, 58%);
        background-color: hsl(342, 56%, 81%);
        text-decoration: none;
        list-style: none;
        border-radius: 50px;
       /* width: 500px;
        height: 30px;
        padding: 50px; */
    }
}


/* desktop */

@media only screen and (min-width: 1200px) {

	body {
    font-family: 'Imbue', serif;
    color: hsl(0, 0%, 42%);
    font-size: 24px;
    font-weight: bold;
    line-height: 35px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


	 header {
        box-sizing: border-box;
        background-color: hsl(340, 60%, 65%);
        position: fixed;
        width: 20%;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        padding: 105px 0px 0px 7px;
        margin: 0;
       }

        header #logo {
                box-sizing: border-box;
                display: block;
                position: relative;
                top: 20px;
                left: 10px;
            }

       .navBurgerMenu {
                display: none;
                height: 80px;
                width: 90%;
                clear: both;
                background: url(../images/menuBar.png) no-repeat 100% 0;
                cursor: pointer;
            }

    nav {
    		display: inline-block;
            float: left;
            margin-top: 160px;
            margin-left: 5px;
        }

    nav li {
            height: 40px;
            font-family: 'Amiri', serif;
            font-size: 24px;
            width: 120px;
            padding: 12.5px;
            color: hsl(0, 13%, 92%);
            display: block;
            list-style: none;
            text-transform: uppercase;
        }

    a:link {
                color: hsl(0, 13%, 92%);
                text-decoration: none;
                list-style: none;
            }
            a:visited {
                color: hsl(0, 13%, 92%);
                text-decoration: none;
                list-style: none;
            }
            a:focus {
                color: hsl(333, 84%, 58%);
                background-color: hsl(342, 56%, 81%);
                text-decoration: none;
                list-style: none;
                margin: 9px;
                padding: 10px;
            }
            a:hover {
                color: hsl(333, 84%, 58%);
                background-color: hsl(342, 56%, 81%);
                transition: 0.55s;
                text-decoration: none;
                list-style: none;
                margin: 9px;
                padding: 10px;
                border-radius: 20px;
            }
            a:active {
                color: hsl(333, 84%, 58%);
                background-color: hsl(342, 56%, 81%);
                text-decoration: none;
                list-style: none;
            }

            /*-- 2 layout --*/

#wrapper {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    left: 350px;
    width: 70%;
    margin: 0px;
    padding: 0px;
    z-index: 1;
    height: auto;
    transform: translate(0%, 5%);
}

.animationWrapper {
    margin: 0px 45px
}

.slideShow {
    overflow: hidden;
}

.animationWrapper .slideShow .slide img {
    width: 20%;
    float: left;
}

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.animationWrapper .slideShow .slide {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slidy infinite;
}

#intro {
    box-sizing: content-box;
    font-family: 'Shadows Into Light Two', cursive;
    margin: 35px 0px;
    font-size: 24px;
    font-weight: bold;
}

hgroup {
    font-family: 'Amiri', serif;
}

.links {
    margin-left: 80px;
}

.links h1 a {
    position: relative;
    left: 100px;
    color: hsl(333, 84%, 58%);
    border-radius: 50px;
    display: inline-block;
    width: 90px;
    height: 60px;
    padding: 5px;
    margin: 15px 300px;
    text-decoration: none;
}

h1  a:link {
        color: hsl(333, 84%, 58%);
        text-decoration: none;
        list-style: none;
    }

  h1  a:visited {
        color: hsl(333, 84%, 58%);
        text-decoration: none;
        list-style: none;
    }

h1    a:focus {
        color: hsl(333, 84%, 58%);
        background-color: hsl(340, 60%, 65%);
        text-decoration: none;
        list-style: none;
        font-size: 30px;
        height: 30px;
    }

h1   a:hover {
        color: hsl(333, 84%, 58%);
        background-color: hsl(342, 56%, 81%);
        text-decoration: none;
        list-style: none;
        border-radius: 50px;
       /* width: 500px;
        height: 30px;
        padding: 50px; */
    }

#bottomPics {
	display: flex;
	flex: 3 0 220px;
}

#bottomPics img {
    margin: 10px;
    align-items: center;
}

footer {
    display: inline-block;
    width: max-width;
    font-size: 24px;
    font-weight: bold;
    padding: 24px;
    margin-bottom: 0;
    background-color: hsl(342, 56%, 81%);
    color: hsl(333, 84%, 58%);
    border-top: 2px solid hsl(0, 0%, 60%);
}

	#trademark {
	    font-size: 12px;
	}

	#mediaQueries {
	    display: block;
	    float: left;
	}

	#TK_Slogan {
	    display: block;
	    float: right;
	}
}

